{% extends "base.html" %}

{% block title %}Sign up {% endblock %}

{% block content %}
<div class="auth-form">
    <h1>Create User</h1>
    <form method="POST" action="{{ url_for('main.signup') }}">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" minlength="6" required>
        </div>
        <div class="form-group">
            <label for="password_confirm">Confirm Password</label>
            <input type="password" id="password_confirm" name="password_confirm" minlength="6" required>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </form>
    <div class="auth-links">
        Already have account？<a href="{{ url_for('main.login') }}">Sign in</a>
    </div>
</div>
{% endblock %}